*filter
:INPUT {{ iptables_policy_input }} [0:0]
:FORWARD {{ iptables_policy_forward }} [0:0]
:OUTPUT {{ iptables_policy_output }} [0:0]
{# Define a chain for implementing the logging of dropped packets #}
-N LOGDROP
-A LOGDROP -m limit --limit 10/second -j LOG --log-prefix "ip6tables-dropped: " --log-level 4
-A LOGDROP -j DROP
{# Authorize traffic which should never be blocked #}
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -p ipv6-icmp -j ACCEPT
{# Drop all connections which are not authorized #}
-A INPUT -j LOGDROP
COMMIT
