*filter
:INPUT {{ iptables_policy_input }} [0:0]
:FORWARD {{ iptables_policy_forward }} [0:0]
:OUTPUT {{ iptables_policy_output }} [0:0]
{# Define a chain for implementing the logging of dropped packets #}
-N LOGDROP
-A LOGDROP -m limit --limit 10/second -j LOG --log-prefix "iptables-dropped: " --log-level 4
-A LOGDROP -j DROP
{# Authorize traffic which should never be blocked #}
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -p icmp -m icmp --icmp-type 8 -m conntrack --ctstate NEW -j ACCEPT
{# Authorize ssh connections from trusted addresses #}
{% for curaddr in iptables_inbound_trusted_addresses_ssh %}
-A INPUT -p tcp -m tcp -m multiport --dports 22 --source {{ curaddr }} -j ACCEPT
{% endfor %}
{# Authorize http connections from trusted clients #}
{% for curaddr in iptables_inbound_trusted_addresses_http %}
-A INPUT -p tcp -m tcp -m multiport --dports 80 --source {{ curaddr }} -j ACCEPT
{% endfor %}
{# Authorize https connections from trusted clients #}
{% for curaddr in iptables_inbound_trusted_addresses_https %}
-A INPUT -p tcp -m tcp -m multiport --dports 443 --source {{ curaddr }} -j ACCEPT
{% endfor %}
{# Drop all connections which are not authorized #}
-A INPUT -j LOGDROP
COMMIT
