server {
	listen 80;

	root /var/lib/nginx/{{ item.hostname }};
	server_name {{ item.hostname }};

	autoindex on;
	autoindex_exact_size off;

	{% if item.limit_rate is defined %}
	set $limit_rate {{ item.limit_rate }};
	{% endif %}

	access_log /var/log/nginx/{{ item.hostname }}-access.log main;
	error_log /var/log/nginx/{{ item.hostname }}-error.log error;

	if ($request_method !~ ^(GET|HEAD)$ )
	{
		return 405;
	}

	location / {
		autoindex on;
		autoindex_exact_size off;
		add_header Cache-Control no-cache;
		{% if item.allow_ips is defined %}
			{% for curaddr in item.allow_ips %}
			allow {{ curaddr }};
			{% endfor %}
			deny all;
		{% else %}
			allow all;
		{% endif %}
	}
}
